<div class="hero">
    <div class="hero__container">
      <div class="hero__items">
        <h1>Información de contacto</h1>
        <div class="hero__item--info">
          <div class="hero__item">
            <i class="fas fa-mobile-alt"></i>
            <span>4149-3599</span>
          </div>
          <div class="hero__item" >
            <i class="fas fa-at"></i>
            <span>jaime.munoz200@gmail.com</span>
          </div>          
        </div>
        <div class="hero__item--info">
          <div class="hero__item">
            <i class="fas fa-ring"></i>
            <span>Soltero</span>
          </div>

          <div class="hero__item" >
            <i class="fas fa-birthday-cake"></i>
            <span>13 - noviembre - 1991</span>
          </div>
        </div>

        <div class="hero__item--info"> 
          <div class="hero__item" >
            <i class="fas fa-baby"></i>
            <span>Usumatlán, Zacapa, Guatemala</span>
          </div>
        </div>
      </div>
      

      
      
      <div class="hero__items">
        <h1>Dirección</h1>
        <div class="hero__item--info">
          <div class="hero__item">
            <i class="fas fa-map-marker-alt"></i>
            <span>Los olivos zona 18 Guatemala Torre occidente apartamento 9F </span>
          </div>
        </div>
      </div>
      <hr>
      
    </div>

  </div>