<div class="estudio">
    <h1><b>Estudio</b></h1>
    <table class="table table-striped">
        <thead>
          <tr>
            
            <th scope="col">Año</th>
            <th scope="col">Establecimiento</th>
            <th scope="col">Carrera</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>2017 - 2018</td>
            <td>UNIVERSIDAD MARIANO GALVEZ DE GUATEMALA</td>
            <td>4to trimestre en Maestría de administración de negocios.</td>
          </tr>
          <tr>
            
            <td>2011 - 2019</td>
            <td>UNIVERSIDAD MARIANO GALVEZ DE GUATEMALA</td>
            <td>Graduado de ingeniería en sistemas</td>
          </tr>
          <tr>
            <td>2008 – 2010</td>
            <td>INSTITUTO TÉCNICO DE EDUCACION INDUSTRIAL ZACAPA</td>
            <td>Bachiller industrial y perito en electrónica</td>
          </tr>
        </tbody>
      </table>
</div>