<div class="experiencia">
    <h1><b>Experiencia</b></h1>
    <div class="experiencia__container">
        <h2>One solutions group</h2>
        <div class="experiencia__items">
          <div class="experiencia__items--left">
            <div class="experiencia__item">
              <i class="fas fa-globe"></i>
              <a href="https://onesolutionsgroup.com" target="_blank" rel="noopener noreferrer">https://onesolutionsgroup.com</a>
            </div>
            <div class="experiencia__item">
              <i class="fas fa-map-marker-alt"></i>
              Vía 4 1-00, Zona 4 Campus Tecnológico, Torre II, Nivel 7 oficina 701 Guatemala
            </div>

            <div class="experiencia__item">
              <i class="fas fa-calendar-alt"></i>
              Noviembre 2017 - Actualidad
            </div>

            <div class="experiencia__item">
              <i class="fas fa-desktop"></i>
              Desarrollador de aplicaciones
            </div>
          </div>

          <div class="experiencia__items--right">
            <div class="experiencia__item">
              <div>
                <i class="fas fa-briefcase"></i>
                Funciones Principales:
              </div>
              <ul>
                <li>Mantenimiento a base de datos SQL server</li>
                <li>Mantenimiento a aplicaciones</li>
                <li>Desarrollo de nuevas aplicaciones </li> 
                <li>Análisis de requerimientos</li>
                <li>Integraciones con SAP B1</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="experiencia__items--footer">
          <span class="badge rounded-pill bg-dark">SQL Server</span>
          <span class="badge rounded-pill bg-dark">.Net</span>
          <span class="badge rounded-pill bg-dark">C#</span>
          <span class="badge rounded-pill bg-dark">JavaScript</span> 
          <span class="badge rounded-pill bg-dark">NodeJS</span>
          <span class="badge rounded-pill bg-dark">SOAP</span>
          <span class="badge rounded-pill bg-dark">Apis</span>
          <span class="badge rounded-pill bg-dark">Angular</span>
          <span class="badge rounded-pill bg-dark">Ionic</span>
          <span class="badge rounded-pill bg-dark">Crystal reports</span>
          <span class="badge rounded-pill bg-dark">SAP B1</span>
          <span class="badge rounded-pill bg-dark">Di API</span>
          
        </div>
    </div>

    <hr>
    <div class="experiencia__container">
      <h2>Datalogic system</h2>
      <div class="experiencia__items">
        <div class="experiencia__items--left">
          <div class="experiencia__item">
            <i class="fas fa-globe"></i>
            <a href="http://datalogicsys.com" target="_blank" rel="noopener noreferrer">http://datalogicsys.com</a>
          </div>
          <div class="experiencia__item">
            <i class="fas fa-map-marker-alt"></i>
            Blvd. Los Próceres 24-69, Zona 10. Zona Pradera, Torre III Nivel 16, Oficina 1612. Guatemala, C. A. 1010
          </div>

          <div class="experiencia__item">
            <i class="fas fa-calendar-alt"></i>
            Junio 2017 - Noviembre 2017
          </div>

          <div class="experiencia__item">
            <i class="fas fa-desktop"></i>
            Programador outsourcing
          </div>

        </div>

        <div class="experiencia__items--right">
          <div class="experiencia__item">
            <div>
              <i class="fas fa-briefcase"></i>
              Funciones Principales:
            </div>
            <ul>
              <li>Recurso de outsourcing para banco GyT</li>
              <li>Desarrollo c++ con framework croswalk</li>
              <li>Análisis de requerimientos</li>
              <li>Preparación de ambiente desarrollo</li> 
            </ul>
          </div>
        </div>
      </div>
      <div class="experiencia__items--footer">
        <span class="badge rounded-pill bg-dark">SQL Server</span>
        <span class="badge rounded-pill bg-dark">C++</span>
        <span class="badge rounded-pill bg-dark">Asp</span>
        <span class="badge rounded-pill bg-dark">reporte E83</span>
        
      </div>
  </div>

  <hr>
    <div class="experiencia__container">
      <h2>Itligencia</h2>
      <div class="experiencia__items">
        <div class="experiencia__items--left">
          <div class="experiencia__item">
            <i class="fas fa-globe"></i>
            <a href="https://www.itligencia.com/sitio/" target="_blank" rel="noopener noreferrer">https://www.itligencia.com/sitio/</a>
          </div>
          <div class="experiencia__item">
            <i class="fas fa-map-marker-alt"></i>
            1ave. y 13 calle zona 10 Edificio Dubai Center 01010-Guatemala, Guatemala
          </div>

          <div class="experiencia__item">
            <i class="fas fa-calendar-alt"></i>
            Febrero 2016 - Junio 2017
          </div>

          <div class="experiencia__item">
            <i class="fas fa-desktop"></i>
            Programador
          </div>

        </div>

        <div class="experiencia__items--right">
          <div class="experiencia__item">
            <div>
              <i class="fas fa-briefcase"></i>
              Funciones Principales:
            </div>
            <ul>
              <li>Implementar software</li>
              <li>Desarrollar interfaces de integración</li>
              <li>Servicios web tipo SOAP</li>
              <li>Mantenimiento de aplicaciones</li> 
              <li>Mantenimiento de aplicaciones</li> 
              <li>Integraciones con SAP B1</li> 
              
            </ul>
          </div>
        </div>
      </div>
      <div class="experiencia__items--footer">
        <span class="badge rounded-pill bg-dark">SQL Server</span>
        <span class="badge rounded-pill bg-dark">C#</span>
        <span class="badge rounded-pill bg-dark">.Net</span>
        <span class="badge rounded-pill bg-dark">Servicios Web SOAP</span>
        <span class="badge rounded-pill bg-dark">SAP B1</span>
          <span class="badge rounded-pill bg-dark">Di API</span>
        
      </div>
  </div>

</div>