<div class="acerca__de">
    <h1><b>Acerca de</b></h1>
    <div class="acerca__container">
    
        <div class="acerca">
            
            <h1>Educación</h1>
            <p>
                Estudio en plataformas online
            </p>
            <a href="https://platzi.com/p/jmunoz200/" target="_blank" rel="noopener noreferrer">Platzi</a>
            <a href="https://www.udemy.com/user/jaime-ivan-munoz-enriquez/" target="_blank" rel="noopener noreferrer">Udemy</a>
        </div>
    
        <div class="acerca">
            
            <h1>Entretenimiento</h1>
            <p>
               Youtube de contenido digital y noticias de tecnología
            </p>
            <a href="https://www.youtube.com/channel/UC4FHiPgS1KXkUMx3dxBUtPg" target="_blank" rel="noopener noreferrer" >HolaMundo</a>
            <a href="https://www.youtube.com/channel/UCns-8DssCBba7M4nu7wk7Aw" target="_blank" rel="noopener noreferrer" >Date un Voltio</a>
        </div>
        <!-- <div class="acerca">
            <h1>Lo más confiable</h1>
            <p>
                Miles de productos hay en el mercado, pero nada como una caja con gatitos
            </p>
            
        </div> -->
    </div>

</div>

